@model Brand

@{
    ViewBag.Title = "Create Brand";
    Layout = "_Layout";
}

<h2>Create new Brand</h2>

<div class="row">

    <div class="phone_add_form col-md-6">

        <form asp-action="Create" method="post">

            <div class="form_row">

                <label for="">

                    Наименование

                    <input asp-for="Name" type="text">

                </label>

            </div>
            <button type="submit">Создать</button>

        </form>

    </div>

</div>